body, html {
  height: 100%;
  overflow: hidden;
}

#container {
  text-align: center;
  position: absolute;
}

canvas {
  margin: auto;
  display: block;
  border: 2px solid #aaaaaa;
  background-color: rgba(0, 0, 0, 1);
  visibility: hidden;
}

#myCanvas {
  z-index: 1;
  position: absolute;
}

button {
  z-index: 2;
  position: absolute;
  visibility: hidden;
  text-align: center;
}

#start, #ranking, #help, #credits {
  margin:auto;
  background-color: Transparent;
  border: none !important;
}
