body, html {
  height: 100%;
  overflow: hidden;
}

canvas {
  margin: auto;
  display: block;
  border: 2px solid #aaaaaa;
  background-color: rgba(0, 0, 0, 1);
  visibility: hidden;
}

button {
  z-index: 2;
  position: absolute;
  visibility: hidden;
  text-align: center;
  background-color: Transparent;
  border: none;
}

#myCanvas {
  z-index: 1;
  position: absolute;
}

#container {
  text-align: center;
  position: absolute;
}

#logo {
  z-index: 6;
  position: absolute;
  visibility: hidden;
}

#options {
  z-index: 6;
  position: absolute;
}
